* {
    box-sizing: border-box;
}

header {
    color: rgb(0, 0, 0);
    font-size: xx-large;  
    text-align: center;
}

input.inp{
    padding: 4px 100px 10px 1px;
}

button#check-button.check-class {
     color: rgb(252, 62, 62);
     background-color: rgb(255, 255, 255);
     cursor: pointer;
     margin-left: 0.5%;
     border-radius: 12px;
     padding: 10px 15px;
}


button#delete-button {
    color: rgb(255, 255, 255);
    background-color: rgba(2, 5, 4, 0.555);
    cursor: pointer;
    -webkit-padding-start: 10px;
    text-align: right;
    margin-left: 0.5%;
    border-radius: 12px;
    padding: 10px 15px;
}

button#submit-to-do {
 background-color: rgb(0, 0, 0);
 color: red;
 cursor: pointer;
 text-align: right;
}

li{
    position: relative;
    padding: 12px 8px 12px 40px;
    background: rgb(168, 162, 162);
    font-size: 18px;
    transition: 0.2s;
  

  }
  

.mystyle {
    transition: 0s;
    text-decoration: line-through;
    opacity: 50%;
}


/*div#repository.divklasa {

 }
